{{#each this as |c|}}
    <div class="comment">
        {{#if c.post.title}}
            <p class="comment-post-title">
                <a href="/post/{{c.post.id}}">"{{c.post.title}}"</a>
            </p>
        {{/if}}
        
        <p>
            {{#if c.user.username}}
                {{c.user.username}}
            {{else}}
                You 
            {{/if}}
            said on
            {{format_date created_at}}:
        </p>

        <p class='comment-body'>
            {{c.comment_text}}
        </p>
    </div>
{{/each}}