{{#each this as |p|}}
    <article class="post">
        <div class="post-header">
            <h2 class="post-title">{{p.title}}</h2>

            <span class="post-author">
                {{#if p.user.username}}
                    <a href="/users/{{p.user.id}}">{{c.user.username}}</a>
                {{else}}
                    You
                {{/if}}
            </span>
            <span>{{format_date p.created_at}}</span>
        </div>

        <div class="post-text">
            {{p.text}}
        </div>

        <div class="post-footer">
            <a href="/posts/{{p.id}}">
                {{p.comments.length}} {{format_plural comments.length "comment"}}
            </a>
        </div>
    </article>
{{/each}}