{{#each posts as |p|}}
    <article class="post">
        <div class="post-header">
            <h2 class="post-title">{{p.title}}</h2>
            <span class="post-author"><a href="/users/{{p.user.id}}">{{p.user.username}}</a></span>
            <span class="post-timestamp">{{format_date p.created_at}}</span>
        </div>

        <div class="post-text">
            {{p.text}}
        </div>

        <div class="post-footer">
            <a href="/posts/{{p.id}}">
                {{p.comments.length}} {{format_plural comments.length "comment"}}
            </a>
        </div>
    </article>
{{/each}}